
.maze-square {
  border: 1px solid lightgray;
  display: grid;
  font-size: 0.5rem;
  position: absolute;
}

.square-path {
  background-color: blue;
  position: absolute;
  transform-origin: left top;
}